<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    
    <title>Florida Cannabis News | Lookup State Representatives></title>
    <link rel="canonical" href="https://floridablaze.io/" data-react-helmet="true">
    <meta name="description" content="Bringing you the latest Cannabis related news and information about recent changes in drug laws affecting Florida. We also make it easy to Lookup your State Representatives and contact them via USPS in just a few clicks.">

    <meta name="viewport" content="width=device-width">
    <meta name="google-adsense-account" content="ca-pub-5712483420848978">
    <meta name="google-signin-client_id" content=<%=Rails.application.credentials.dig(:GOOGLE_OAUTH_CLIENT_ID)%>>
    <meta name="google-adsense-account" content="ca-pub-5712483420848978">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5712483420848978"
     crossorigin="anonymous"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=PT+Serif&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    
     <%= javascript_pack_tag "floridablaze-bundle"%> 
     <%= stylesheet_pack_tag "application"%>
    
    
    <meta property="og:title" content="Cannabis News for Florida | Lookup State Representativese" data-react-helmet="true">
    <meta property="og:description" content="Bringing you the latest Cannabis related news and information about recent changes in drug laws affecting Florida. We also make it easy to Lookup your State Representatives and contact them via USPS in just a few clicks." data-react-helmet="true">
    <meta property="og:image" content="https://weedblogimages.s3.amazonaws.com/company_logo.png" data-react-helmet="true">
    <meta property="og:url" content="https://floridaBlaze.io" data-react-helmet="true">
    <meta property="og:site_name" content="FloridaBlaze" data-react-helmet="true">
    <meta property="og:type" content="website" data-react-helmet="true">
    <%#
    <meta name="twitter:title" content="Cannabis News for Florida | Lookup State Representativese">
    <meta name="twitter:description" content="Bringing you the latest Cannabis related news and information about recent changes in drug laws affecting Florida. We also make it easy to Lookup your State Representatives and contact them via USPS in just a few clicks.">
    <meta name="twitter:url" content="https://weedblogimages.s3.amazonaws.com/company_logo.png">
    <meta name="twitter:card" content="app">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" /> %>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0"> %>
   
    



    
    
    

    
    

    
    

   

  </head>
  <body>
    <%= yield %>
    
  </body>
</html>
